/* Styles for the main container and its main children*/

.product-detail-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.product-img,
.product-info-container {
    max-width: 45%;
    margin-left: auto;
    margin-right: auto;
}

.product-info-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}


/* General styles for product info children*/

.title-and-price,
.description-container,
.add-to-cart-btn {
    width: 100%;
}

.product-detail-subtitle,
.product-name {
    font-weight: 600;
}

.product-description {
    text-align: justify;
}


/* Styles for price section */

.title-and-price p,
.title-and-price h3 {
    text-align: left;
}

.title-and-price h3 {
    border-bottom: 1px solid #000;
}

.price {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-top: 1rem;
}

.price .product-price-title {
    margin-right: 1rem;
}

.title-and-price .product-price-val {
    font-weight: 400;
}


/* Style for sizes section*/

.sizes-list {
    width: 30%;
    margin-right: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.sizes .size {
    list-style: none;
    width: 30%;
    border: 1px solid rgb(192, 192, 192);
    text-align: center;
}

.sizes .size:hover {
    border: 1px solid black;
}


/* Styles for color section */

.color-list {
    margin-right: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.color-container {
    border: 1px solid #fff;
    padding: 0 3px 0 3px;
}

.color-container:not(:first-child) {
    margin-left: 1rem;
}

.colors {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

.colors .color {
    list-style: none;
    margin-right: 8px;
    padding-right: 2px;
    padding-left: 2px;
}

.color-icon {
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    display: inline-block;
}

.color-icon:hover {
    border: 1px solid #000 !important;
}

.beige {
    background-color: #c8ad7f;
    border: 1px solid #c8ad7f !important;
}

.negro {
    background-color: #000;
    border: 1px solid #000 !important;
}

.verde {
    background-color: rgb(142, 182, 131);
    border: 1px solid rgb(142, 182, 131)!important;
}

.rosa {
    background-color: rgb(223, 161, 209);
    border: 1px solid rgb(223, 161, 209) !important;
}


/* Add to cart section*/

.add-to-cart-btn {
    margin-top: 1rem;
}

.add-to-cart {
    max-width: 30%;
    margin-right: auto;
    text-decoration: none;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 1rem;
    padding: 2px 4px;
    border: 1px solid #fff;
}


/* Counter */

.counter-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 30%;
    margin-right: auto;
}

.counter-display {
    color: #000;
    font-size: 1rem;
    text-align: center;
    background: #fff;
    width: 20%;
    border: 1px solid #000;
    border-radius: 50%;
}

.counterBtn {
    color: #000;
}

.increaser:hover {
    color: rgb(57, 133, 80);
    transition: all .3s ease-in-out;
}

.reducer:hover {
    color: rgb(197, 63, 30);
    transition: all .3s ease-in-out;
}