.cart-container {
    max-width: 70%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column wrap;
}

.no-item {
    margin-top: 5rem;
}

.no-items-title {
    text-align: center;
    font-weight: 700;
}

.return-home-btn {
    color: #000;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #fff;
}

.return-home-btn:hover {
    border-bottom: 2px solid #000;
    transition: all .4s ease-in;
    color: #000;
}

.cart-title {
    color: #000;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
}

.cart-item {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    border-bottom: solid 1px #000;
    padding: 5px 0;
}

.cart-item:not(:nth-of-type(1)) {
    margin-top: 1rem;
}

.cart-item-title {
    width: 30%;
    max-width: 30%;
    font-weight: 600;
    text-align: left;
    font-size: 1.3rem;
    padding-left: 3px;
}

.cart-item-img {
    width: 30%;
    height: auto;
}

.cart-more-info {
    max-width: 50%;
    display: flex;
    flex-flow: column wrap;
    margin-left: 1rem;
}

.cart-item-qty,
.cart-item-size,
.cart-item-color,
.cart-item-description {
    font-size: 1rem;
    font-weight: 600;
}

.cart-item-description {
    text-align: justify;
    padding-right: 8px;
}

.cart-deleteItem {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: #fff;
    border-bottom: 2px solid #fff;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
}

.cart-deleteItem:hover {
    border-bottom: 2px solid #000;
    transition: all .4s ease-in;
}

.check-out {
    margin-left: auto;
    margin-right: auto;
}

.checkout-btn {
    color: #000;
    font-weight: 600;
    border-bottom: 2px solid white;
}

.checkout-btn:hover {
    color: #000;
    border-bottom: 2px solid #000;
}