footer {
    position: fixed;
    left: 10%;
    right: 10%;
    bottom: 0;
    border-top: 1px solid rgba(187, 187, 187, .6);
    display: block;
}

.footer-container {
    display: flex;
    flex-flow: column wrap;
    width: 80%;
    margin-top: 2rem;
    justify-content: center;
}

.footer-text {
    color: #000;
    text-align: center;
}

.footer-text .brand {
    font-weight: 600;
}

.social-media-icons li:not(:first-child) {
    margin-left: .5rem;
}

.social-media-icons li:last-child {
    margin-right: 1rem;
}

.social-media-icons li a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}