.widget-cart {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40%;
    background: #000;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    z-index: 10;
}

.information-cart-widget {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

.cartwidget-button {
    text-align: right;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.cart-widget-btn {
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 0 3px 0 3px;
}

.cart-widget-btn:hover {
    color: #fff;
}

.cart-items-list {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.no-items-widget {
    color: #fff;
    margin-top: 5rem;
    max-width: 80%;
    text-align: center;
}

.go-to-cart-btn {
    width: 40%;
    background: #000;
    color: #fff;
    border: none;
    border-bottom: 2px solid #000;
    font-size: 1.2rem;
    margin-left: 40%;
    margin-top: 1rem;
}

.cart-item-container {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    background: 1px solid #fff;
    margin-bottom: 8px;
}

.cart-item-container .item-title {
    color: #fff;
    max-width: 20%;
    width: 20%;
    text-align: left;
}

.cart-item-container .item-img {
    width: 25%;
    margin-left: .5rem;
    margin-right: .5rem;
}

.cart-item-container .more-info {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    max-width: 55%;
    color: #fff;
}

.cart-widget-title {
    text-align: center;
    color: #fff;
    border-bottom: 2px solid #fff;
    margin-bottom: 1rem;
}

.open {
    display: block;
}

.close {
    display: none;
}

.deleteItem {
    background: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 0 1px 0 1px;
}