a.cartIcon {
    font-size: 1.2rem;
    color: #000;
}

.nav-icon {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
    a.cartIcon {
        margin-right: .8rem;
    }
    .counter {
        right: 0px;
    }
}