.coming-soon {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border: 2px solid black;
    margin-top: 4rem;
}

.coming-soon p,
.coming-soon h3 {
    text-align: center;
}

.cat-icon {
    width: 100%;
}