article {
    justify-content: center;
}

img {
    width: 100%;
    padding: 4px 4px 1px 4px;
}

.product-info {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.product-title {
    margin-top: 4px;
    text-align: center;
    font-weight: 500;
    color: #000;
    font-size: 1.4rem;
}

.product-price {
    text-align: center;
    font-weight: 700;
    color: #000;
    font-size: 1.4rem;
}

.addToCart {
    width: 30%;
    background: #fff;
    color: #000;
    font-size: 1.2rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
    border-radius: .4rem;
    font-weight: 600;
    padding-bottom: .3rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.addToCart span {
    padding-left: .3rem;
}

.addToCart:hover {
    background: #000;
    color: #fff;
    transition: all .3s;
}

@media screen and (min-width:670px) {
    .product-title {
        font-size: 1rem;
    }
    .product-price {
        font-size: 1rem;
    }
    .addToCart {
        font-size: .8rem;
        width: 40%;
    }
}

@media screen and (min-width:1130px) {
    .product-title {
        font-size: 1rem;
    }
    .product-price {
        font-size: 1rem;
    }
    .addToCart {
        font-size: .9rem;
        width: 40%;
    }
}

@media screen and (min-width:1130px) {
    .product-title {
        font-size: 1.2rem;
    }
    .product-price {
        font-size: 1.2rem;
    }
    .addToCart {
        font-size: .9rem;
        width: 40%;
    }
}