img {
    max-width: 40% !important;
}

nav li {
    list-style: none;
}

nav li a{
    color: black;
    font-size: 1.4rem;
    text-transform: capitalize;
}

nav li:hover{
    border-bottom: .2rem solid black ;
    transition: border-bottom .2s ease-in-out
}

nav li:hover a{
    color: rgb(78, 73, 73);
    transition: color .4s ease-out
}

@media screen and (max-width:784px) {
    nav li:hover{
        border: .2rem solid black ;
        transition: border .2s ease-in-out;
        width: 100%;
        display: block;
    }
    
}

