img {
    max-width: 40% !important;
}

.operatives {
    max-width: 100%;
}

nav li {
    list-style: none;
}

nav li a{
    color: black;
    font-size: 1.4rem;
    text-transform: capitalize;
}

nav li:hover{
    border-bottom: .2rem solid black ;
    transition: border-bottom .2s ease-in-out
}

@media (max-width:784px) {

    a.menu-toggler {
        display: inline-block;
        color: black;
        font-size: 2rem;
        margin-left: 76%;
    }

    .menu-toggler:hover {
        color: #fff;
        background: #000;
        transition: all .3s ease-in;
        border-radius: 2px;
    } 

    ul {
        display: none!important;
    }
    
    nav li:hover{
        background-color: black ;
        transition: background-color .2s ease-in-out;
        width: 100%;
        justify-content: center;
    }

    nav li:hover a {
        color: #fff !important;
    }
    
}

