* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hind Siliguri', sans-serif;
  
}

a:link {
  text-decoration: none;
}

.App {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.txt-center {
  text-align: center;
}

.hidden {
  display: none;
}




